Repository kbakba/zero-env-object: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, yaml-lint

eslint:
  run: npm run lint:js -- {staged_files}

yaml-lint:
  run: npm run lint:yml -- {staged_files}

remove semi
  index.js
Due: eslint

GitHub Action: eslint
  .github/workflows/lint.yml
Due: yaml-lint

package-lock.json
  package-lock.json
Due: eslint

break CI
  index.js
Due: eslint

2 eslint actions
  .github/workflows/eslint1.yml
  .github/workflows/eslint2.yml
Due: yaml-lint

try 2
  .github/workflows/eslint1.yml
  .github/workflows/eslint2.yml
Due: yaml-lint

try 3
  .github/workflows/eslint1.yml
Due: yaml-lint

try 4
  index.js
Due: eslint

try 5
  .github/workflows/eslint1.yml
  index.js
Due: eslint, yaml-lint

Try reviewdog
  .github/workflows/reviewdog.yml
Due: yaml-lint

add error
  index.js
Due: eslint

on push
  .github/workflows/reviewdog.yml
Due: yaml-lint

rename runner icrawl/action-eslint
  .github/workflows/eslint1.yml
Due: yaml-lint

rename runner again
  .github/workflows/eslint2.yml
Due: yaml-lint

rm actions from marketplace
  .github/workflows/eslint1.yml
  .github/workflows/eslint2.yml
Due: yaml-lint

another error
  index.js
Due: eslint

PR check only
  .github/workflows/reviewdog.yml
Due: yaml-lint

error level
  .github/workflows/reviewdog.yml
Due: yaml-lint

rename action
  .github/workflows/reviewdog.yml
Due: yaml-lint

Path conditions:
  eslint: any of: *.{js,json}
  yaml-lint: any of: *.{yml,yaml}
